workflows/知識庫/SQrtBQvvDop2B4EM.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "篩選分數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選分數": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "向量搜尋": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ai回答模組": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-04T05:05:01.641Z",
  "id": "SQrtBQvvDop2B4EM",
  "isArchived": false,
  "meta": null,
  "name": "Search-RAG.V2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        -20
      ],
      "id": "91cdc343-3daf-41fb-9eb4-177c6a14c7b9",
      "name": "When chat message received",
      "webhookId": "775239c5-e4d5-4b13-beec-f2f1c8811244"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntestnew",
          "mode": "list",
          "cachedResultName": "n8ntestnew"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 20,
        "options": {
          "pineconeNamespace": "List"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -240,
        -20
      ],
      "id": "d6424005-1070-42fd-ac58-6e88a02d6fc1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YPrW9DkZh4861Lbt",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "不用傳送思考紀錄、根據內容、使用者問題，直接告訴答案就好,\n如果找不到相關問題，回傳找不到相關的內容，請換個說法或確認資料庫,\n幫我判斷重要部分並標粗,\n美化展現格式,\n自主判斷換行，分段，標點符號,"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        -20
      ],
      "id": "9638e146-81b2-438f-a62a-3f1a20699a25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const question = $('When chat message received').first().json.chatInput.trim().toLowerCase();\nconst SCORE_THRESHOLD = 0.5;\n\nconst matchedDocs = items\n  .filter(i => i.json.score >= SCORE_THRESHOLD)\n  .map(i => i.json.document.pageContent)\n  .join('\\n\\n');\n\n\nif (!matchedDocs) {\n  return [{\n    json: {\n      answer: `❌ 找不到與「${question}」相關的知識內容，請換個說法或確認資料庫。`\n    }\n  }];\n}\n\nconst prompt = `以下是知識庫內容，請根據這些資料回答問題：\\n\\n${matchedDocs}\\n\\n使用者問題：${question}`;\n\nreturn [{\n  json: { prompt }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -20
      ],
      "id": "4671d941-8efc-4122-aa2a-3952481707f9",
      "name": "篩選分數"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        140
      ],
      "id": "225a1c10-3637-4e24-a40a-b37c3aa0b4a5",
      "name": "向量搜尋",
      "credentials": {
        "googlePalmApi": {
          "id": "ivjgvmwy5Z6vbCEd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/learnlm-2.0-flash-experimental",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "id": "3f9016c5-c946-444d-a5b1-a89c169c287e",
      "name": "Ai回答模組",
      "credentials": {
        "googlePalmApi": {
          "id": "ivjgvmwy5Z6vbCEd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-03T07:08:06.178Z",
      "updatedAt": "2025-06-03T07:08:06.178Z",
      "id": "JRyNALIm69gzhAvi",
      "name": "知識庫"
    },
    {
      "createdAt": "2025-06-04T05:05:15.353Z",
      "updatedAt": "2025-06-04T05:05:15.353Z",
      "id": "XJ97mEyhMpRXqKSB",
      "name": "V2"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-04T05:22:12.000Z",
  "versionId": "0514962d-4ec9-49a3-aeb4-79bf162c581b"
}